<footer class="site-footer">
  <section id="contact">
    <div class="contact-icons">
      <a
        href="example.com"
        target="_blank"
        rel="noopener"
      >
        <img
          src="../static/images/linkedin.svg"
          alt="LinkedIn"
          class="contact-icon"
        />
      </a>
      <p>contact 1</p>

      <a href="example.com" target="_blank" rel="noopener">
        <img
          src="../static/images/github.svg"
          alt="GitHub"
          class="contact-icon"
        />
      </a>
      <p>contact 2</p>

      <a href="mailto:example.com">
        <img src="assets/images/gmail.svg" alt="Email" class="contact-icon" />
      </a>
      <p>example@gmail.com</p>
    </div>
  </section>
  <p class="last-updated">
    Last updated: <span id="last-updated">2026-03-10</span>
  </p>
  <p class="copyright">© <span id="year"></span>Kit Vincent</p>
</footer>

