:root {
  --primary-color: #6C5CE7;    /* Deep purple – main brand color, headers/buttons */
  --secondary-color: #00B894;  /* Soft green – accent, buttons, highlights */
  --accent-color: #FD79A8;     /* Gentle pink – call-to-action, links */
  --neutral-color: #F1F1F1;    /* Light grey – background, sections */
}

.hero {
  background: url('../images/hero1100x1100px.png') center/cover no-repeat;
  height: 80vh;
}
.hero-2 {
  background: url('../images/hero1100x1100px2.png') center/cover no-repeat;
  height: 80vh;
}

.hero-overlay {
  background: rgba(0,0,0,0.4);
}

.about-img {
  max-width: 250px;
  height: auto;
}


